In [11]:
import numpy as np

In [21]:
y_true = np.array([
    [1,0,0],
    [0,1,0],
    [0,0,1]
])

y_pred = np.array([
    [0.1,0.5,0.4],
    [0.5,0.3,0.2],
    [0.3,0.2,0.5]
])


M = 3
W = np.array([
    0.3333,
    0.3333,
    0.3333
]).reshape((-1, 1))

In [27]:
-np.sum(np.matmul(y_true * np.log(y_pred), W))/y_true.shape[0]

0.4665872341524599

In [9]:
loss = 0

for i in range(len(y_pred)):

    ind = np.argmax(y_true[i])

    y_ = y_pred[0][ind]
    ln = np.log(y_)

    loss += W[ind]*ln

(-1*loss)/len(y_pred)

0.434625755903067

In [4]:
def eval_metric(y_true, y_pred):
    loss = 0

    for i in range(len(y_pred)):

        ind = np.argmax(y_true[i])

        y_ = y_pred[0][ind]
        ln = np.log(y_)

        loss += W[ind]*ln

    return (-1*loss)/len(y_pred)

In [5]:
len(y_pred)

3

In [ ]:
# eval_metric(Y, y_pred)

## Weights

In [5]:
import pandas as pd

In [6]:
df_train = pd.read_csv('data/003_train.csv')
df_train.head()

      id  label
0  84531      3
1  25895      0
2  71109      2
3  64666      4
4  91813      8

In [7]:
from collections import Counter

In [8]:
counts = dict(Counter(df_train['label']))
counts

{3: 27304,
 0: 691,
 2: 22122,
 4: 17781,
 8: 1666,
 12: 6422,
 10: 19220,
 1: 2178,
 11: 209,
 9: 696,
 7: 754,
 6: 953,
 5: 4}

In [9]:
N = len(df_train)

In [17]:
weights = []
for k in counts.keys():
    weights.append([k, counts[k]/N])
df_weights = pd.DataFrame.from_dict(weights)
df_weights.columns = ['label','weight']
df_weights = df_weights.sort_values('label')
df_weights

    label   weight
1       0  0.00691
7       1  0.02178
2       2  0.22122
0       3  0.27304
3       4  0.17781
12      5  0.00004
11      6  0.00953
10      7  0.00754
4       8  0.01666
9       9  0.00696
6      10  0.19220
8      11  0.00209
5      12  0.06422

In [19]:
df_weights.to_csv('data/005_weights.csv', index=None)