In [1]:
import pandas as pd

In [2]:
from glob import glob

In [4]:
features = glob('data/100_*')
features+=['data/101_agg_txn_ns.csv']
features

['data/100_c7_n7_mean_mean.csv',
 'data/100_c5_encode.csv',
 'data/100_c6_n6_mean_mean.csv',
 'data/100_c6_n3_mean_mean.csv',
 'data/100_c7_n4_mean_mean.csv',
 'data/100_c6_encode.csv',
 'data/100_c5_n7_mean_mean.csv',
 'data/100_old_cc_label_encode.csv',
 'data/100_c7_n3_mean_mean.csv',
 'data/100_c5_n5_mean_mean.csv',
 'data/100_c7_n5_mean_mean.csv',
 'data/100_c6_n7_mean_mean.csv',
 'data/100_demo.csv',
 'data/100_c7_n6_mean_mean.csv',
 'data/100_old_cc_label_n3_mean_mean.csv',
 'data/100_c5_n6_mean_mean.csv',
 'data/100_c6_n5_mean_mean.csv',
 'data/100_c7_encode.csv',
 'data/100_c6_n4_mean_mean.csv',
 'data/100_n_cards.csv',
 'data/100_old_cc_label_n7_mean_mean.csv',
 'data/100_n_label.csv',
 'data/100_old_cc_label_n4_mean_mean.csv',
 'data/100_c5_n4_mean_mean.csv',
 'data/100_old_cc_label_n5_mean_mean.csv',
 'data/100_old_cc_label_n6_mean_mean.csv',
 'data/100_c5_n3_mean_mean.csv',
 'data/101_agg_txn_ns.csv']

In [5]:
dfs = []

for file in features:
    dfs.append(pd.read_csv(file, index_col='id'))

In [6]:
df = pd.concat(dfs, axis=1)
df

,c7_n7,c5__0,c5__1,c5__2,c5__3,c5__4,c5__5,c5__6,c5__7,c5__8,...,n6_min,n7_min,n4_median,n5_median,n6_median,n7_median,n4_std,n5_std,n6_std,n7_std
id,,,,,,,,,,,,,,,,,,,,,
1,2080.004732,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,225,600.0,101.0,492.0,268.0,3316.099997,5.225850,297.933471,17.902172
2,2255.763324,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,563,12500.0,101.0,0.0,3562.0,52598.838962,11.583221,296.248485,306.363400
3,2080.880615,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,411,2000.0,101.0,0.0,1754.0,2634.678530,7.188408,200.244568,493.901956
4,2777.815120,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,2825,8200.0,101.0,407.0,2825.0,92730.728802,5.102980,300.920839,0.000000
5,2747.669596,27.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0,4353,2000.0,101.0,400.0,4353.0,30733.752750,8.556223,304.693080,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153236,2217.715712,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,3207,900.0,109.0,312.0,3207.0,1406.080203,24.676741,275.599992,0.000000
153237,2266.692322,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1694,1200.0,102.0,0.0,1694.0,9107.029407,19.479378,302.095247,0.000000
153238,2311.629574,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,99,1100.0,102.0,250.0,2489.0,8028.844155,25.645152,326.523874,960.585158
153239,2235.609303,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,812,1550.0,101.0,500.0,839.0,41628.990638,26.877156,335.862078,25.197344
153240,2234.293440,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,795,500.0,98.0,346.5,795.0,1705.754965,21.006556,407.526975,0.000000

In [7]:
df.to_csv('data/120_agg_txn.csv')