In [2]:
import pandas as pd

from collections import Counter
from IPython.core.interactiveshell import InteractiveShell
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict
from sklearn.metrics import make_scorer
from sklearn.preprocessing import QuantileTransformer
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import joblib
from sklearn import ensemble, linear_model
from xgboost.sklearn import XGBRegressor

from utils import metrics

InteractiveShell.ast_node_interactivity = 'all'

df_features = pd.read_csv('./data/100_demo_oh.csv')
df_train = pd.read_csv('./data/003_train.csv')
df_test  = pd.read_csv('./data/004_test.csv')

df_features = df_features.set_index('id')
df_features.head()

,c1_c2_crossed_1.092,c1_c2_crossed_1.093,c1_c2_crossed_1.094,c1_c2_crossed_1.095,c1_c2_crossed_1.096,c1_c2_crossed_1.097,c1_c2_crossed_1.098,c1_c2_crossed_1.099,c1_c2_crossed_10.095,c1_c2_crossed_10.096,...,"n1_n2_crossed_(44000.0, 89000.0](-1.0, 4000.0]","n1_n2_crossed_(44000.0, 89000.0](175000.0, 7500000.0]","n1_n2_crossed_(44000.0, 89000.0](25000.0, 60000.0]","n1_n2_crossed_(44000.0, 89000.0](4000.0, 25000.0]","n1_n2_crossed_(44000.0, 89000.0](60000.0, 175000.0]","n1_n2_crossed_(89000.0, 20367000.0](-1.0, 4000.0]","n1_n2_crossed_(89000.0, 20367000.0](175000.0, 7500000.0]","n1_n2_crossed_(89000.0, 20367000.0](25000.0, 60000.0]","n1_n2_crossed_(89000.0, 20367000.0](4000.0, 25000.0]","n1_n2_crossed_(89000.0, 20367000.0](60000.0, 175000.0]"
id,,,,,,,,,,,,,,,,,,,,,
76371,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44326,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33717,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
96078,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
13591,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
qt = QuantileTransformer(n_quantiles=10, random_state=100, output_distribution='normal')

df_features[:] = qt.fit_transform(df_features[:])
df_features.head()

,c1_c2_crossed_1.092,c1_c2_crossed_1.093,c1_c2_crossed_1.094,c1_c2_crossed_1.095,c1_c2_crossed_1.096,c1_c2_crossed_1.097,c1_c2_crossed_1.098,c1_c2_crossed_1.099,c1_c2_crossed_10.095,c1_c2_crossed_10.096,...,"n1_n2_crossed_(44000.0, 89000.0](-1.0, 4000.0]","n1_n2_crossed_(44000.0, 89000.0](175000.0, 7500000.0]","n1_n2_crossed_(44000.0, 89000.0](25000.0, 60000.0]","n1_n2_crossed_(44000.0, 89000.0](4000.0, 25000.0]","n1_n2_crossed_(44000.0, 89000.0](60000.0, 175000.0]","n1_n2_crossed_(89000.0, 20367000.0](-1.0, 4000.0]","n1_n2_crossed_(89000.0, 20367000.0](175000.0, 7500000.0]","n1_n2_crossed_(89000.0, 20367000.0](25000.0, 60000.0]","n1_n2_crossed_(89000.0, 20367000.0](4000.0, 25000.0]","n1_n2_crossed_(89000.0, 20367000.0](60000.0, 175000.0]"
id,,,,,,,,,,,,,,,,,,,,,
76371,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,...,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338
44326,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,...,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338
33717,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,...,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,5.199338
96078,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,...,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,5.199338,-5.199338,-5.199338,-5.199338,-5.199338
13591,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,...,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338

In [6]:
df_features.to_csv('./data/341_features_txn.csv')

In [7]:
joblib.dump(qt, 'M_336/341_qt_normal.joblib')

['M_336/341_qt_normal.joblib']